// Fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Global colour variables
$primary-grey: rgba(59, 59, 59, 1);
$primary-grey-70: rgba(59, 59, 59, 0.7);
$border: rgba(233, 233, 231, 1);
$off-white: rgba(248, 248, 248, 1);
$highlight: rgba(235, 87, 87, 1);

$highlight-purple-border: rgba(167, 130, 195, 1);
$highlight-purple-fill: rgba(251, 249, 253, 1);
$highlight-blue-border: rgba(91, 151, 189, 1);
$highlight-blue-fill: rgba(245, 250, 252, 1);
$highlight-red-border: rgba(203, 66, 51, 1);
$highlight-red-fill: rgba(251, 243, 242, 1);
$highlight-green-border: rgba(108, 155, 125, 1);
$highligght-green-fill: rgba(247, 250, 247, 1);
$highlight-yellow-border: rgba(203, 148, 51, 1);
$highlight-yellow-fill: rgba(251, 249, 242, 1);