// # Resets base CSS
*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

// Remove stuff added by default for some reason ¯\_(ツ)_/¯
:global(body) {
	padding: 0px;
	margin: 0px;
}

// TODO find a better method for importing fonts
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

// Global colour variables
$primary-grey: rgba(59, 59, 59, 1);
$primary-grey-70: rgba(59, 59, 59, 0.7);
$border: rgba(233, 233, 231, 1);
$off-white: rgba(248, 248, 248, 1);
$highlight: rgba(235, 87, 87, 1);

$highlight-purple-border: rgba(167, 130, 195, 1);
$highlight-purple-fill: rgba(251, 249, 253, 1);
$highlight-blue-border: rgba(91, 151, 189, 1);
$highlight-blue-fill: rgba(245, 250, 252, 1);
$highlight-red-border: rgba(203, 66, 51, 1);
$highlight-red-fill: rgba(251, 243, 242, 1);
$highlight-green-border: rgba(108, 155, 125, 1);
$highligght-green-fill: rgba(247, 250, 247, 1);
$highlight-yellow-border: rgba(203, 148, 51, 1);
$highlight-yellow-fill: rgba(251, 249, 242, 1);



// TODO unsure if this is required, removing it does not change anything. Google says I have to put it here, so i'll keep it
:global(.material-symbols-outlined) {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	color: $primary-grey;
}